.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
pairwise_trt_table.csv
pairwise_rust_table.csv
README.html
assessment2_terpene_heatmap.pdf
assessment2_terpene_heatmap.tiff
assessment2_terpene_heatmap.eps
assessment1_terpene_heatmap.pdf
assessment1_terpene_heatmap.tiff
assessment1_terpene_heatmap.eps
